<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Carga de Libros</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<header>
  <h1>Carga de Libros</h1>
  <br>
</header>

<main>
  <h2>Ingrese los datos del Libro que desea cargar</h2>
  <br>
  <form action="/libro/registro" method="post">

    <label>ISBN del Libro:</label>
    <input type="text" name="isbn"><br>

    <label>Título:</label>
    <input type="text" name="titulo"><br>

    <label>Cantidad de ejemplares disponnibles:</label>
    <input type="text" name="ejemplares"><br>

    <select name="idAutor">
      <option>Seleccionar Autor</option>
      <option th:each="autor:${autores}"
              th:value="${autor.id}"
              th:text="${autor.nombre}"></option>
    </select><br>

    <select name="idEditorial">
      <option>Seleccionar Editorial</option>
      <option th:each="editorial:${editoriales}"
              th:value="${editorial.id}"
              th:text="${editorial.nombre}"></option>
    </select><br>

    <div th:if = "${error != null}" class="card text-white bg-danger mb-3 mensajeError">
      <div class="card-body">
        <h5 class="card-title">
          error
        </h5>
        <p class="card-text" th:text="${error}"></p>
      </div>
    </div>

    <!--<div th:if = "${exito != null}" class="card text-white bg-success mb-3 mensajeExito">
      <div class="card-body">
        <h5 class="card-title">
          éxito
        </h5>
        <p class="card-text" th:text="${exito}"></p>
      </div>
    </div>-->

    <input type="submit" value="Subir">
  </form>
</main>
</body>
</html>