<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Carga de Libros</title>
</head>
<body>
<header>
  <h1>Carga de Libros</h1>
  <br>
</header>

<main>
  <h2>Ingrese los datos del Libro que desea cargar</h2>
  <br>
  <form action="/libro/registro" method="post">

    <label>ISBN del Libro:</label>
    <input type="text" name="isbn">

    <label>Título:</label>
    <input type="text" name="titulo">

    <label>Cantidad de ejemplares disponnibles:</label>
    <input type="text" name="ejemplares">

    <label>ID Del Autor:</label>
    <input type="text" name="nombre">

    <label>Nombre Del Autor:</label>
    <input type="text" name="nombre">

    <input type="submit" value="Subir">
  </form>
</main>
</body>
</html>